<div class="row">
    <div class="col-md-12">
        <form action="">
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control">

                <label for="">Email</label>
                <input type="email" class="form-control">

                <label for="course">Select course</label>
                <select name="course" id="course" class="form-control">
                    <option value="Angular">Angular</option>
                    <option value="HTML">HTML</option>
                    <option value="React">React</option>
                </select>
            </div>
        </form>
    </div>
</div>
