<div class="container">
    <!-- <app-cockpit
     (serverCreated)="onServerAdded($event)"
     (bpCreated)="onBlueprintAdded($event)"
     ></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12"> -->
            <!-- <app-server-element></app-server-element> -->
            <!-- <app-server-element 
            *ngFor="let serverElement of serverElements"
            [srvElement]="serverElement"
            >
            <p class="jas1">
                <strong *ngIf="serverElement.type === 'server'" style="color: red;">{{serverElement.content}}</strong>
                <em *ngIf="serverElement.type === 'blueprint'" style="color: blue;">{{serverElement.content}}</em>
            </p>
            <h4 class="jas2">Welcome content</h4>
        </app-server-element>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
        </div>
    </div>
    <hr> -->
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body"> -->
                    <!-- <div *ngFor="let p of products">
                      {{p.id}} &nbsp;&nbsp; {{p.name}}  <br>        
                    </div> -->
                    <!-- <input type="text" #heading> &nbsp; <button class="btn btn-success" (click)="go()">GO</button>
                    <br>
                    {{childValue}}
                </div>
            </div>
        </div>
    </div> -->


    <app-arr-op></app-arr-op>
</div>